body {
  font-family: 'Shadows Into Light', sans-serif;
  color: black;
  margin: 10px 50px 10px 50px;
  backgroundcolor: Purple;
  font-size: xx-large;

}
h1{
  font-family: 'Notable';
  color: black;
}
img {
  float: bottom;
  margin-left: auto;
}

